<!DOCTYPE html>
<hmtl>
  <head>
    <title>ONTHEBENCH</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
  </head>
  <body>

    <nav class="navbar bg-primary fixed-top">
      <a class="navbar-brand" href="/">ONTHEBENCH</a>

      <h4 class="navbar-nav navbar-right">
        <%= profile.fullName %>
        <a href="/profile" class="fa fa-cogs no-hover"></a>
      </h4>
    </nav>

    <container>
      <% if(!user.team) { %>
        <!-- show club search -->
        <form method="post" action="/" class="form form-inline form-club-search">
          <h2 class="form-heading form-club-search-heading">Search for a club</h2>
          <label for="clubSearchInput" class="sr-only">Search for a club</label>
          <input type="text" id="clubSearchInput" name="search" class="form-control" placeholder="search" required />
          <button type="submit" class="btn btn-inverted btn-primary"><div class="fa fa-search"></div></button>
          <hr />
        </form>
        <div class="content">
          <% if(search !== "") { %>
            <div class="centered">
              <a href="/team" class="club-add">Start a new team <div class="fa fa-plus-square-o"></div></a>
            </div>
          <% } %>
          <% if(clubs.length > 0) { %>
            <% clubs.forEach(function(club) { %>
              <div class="club">
                <div class="fa fa-soccer-ball-o"></div>
                <h3><%- club.name %></h3>
              </div>
            <% }) %>
          <% } %>
          <% if(teams.length != 0) { %>
            <% teams.forEach(function(team) { %>
              <p>Searched for: <%- search %></p>
              <div class="club">
                <div class="fa fa-soccer-ball-o"></div>
                <h3><%- clubs.name %> <%- team.teamnr %></h3>
                <a href="/team" class="fa fa-angle-right right-aligned"></a>
              </div>
            <% }) %>
          <% } %>
        </div>
      <% } else { %>
      <!-- show events -->

      <% } %>
    </container>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</hmtl>
