<!DOCTYPE html>
<hmtl>
  <head>
    <title>ONTHEBENCH</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
  </head>
  <body>

    <%- include partials/nav.ejs %>

    <container>
      <% if(!profile.team) { %>
        <!-- show club search -->
        <h2 class="form-heading form-club-search-heading">Search for a team</h2>
        <form method="post" action="/" class="form form-inline form-club-search">
          <label for="clubSearchInput" class="sr-only">Search for a club</label>
          <input type="text" id="clubSearchInput" name="search" class="form-control" placeholder="Club" />
          <select id="divisionSearchSelect" name="class" class="form-control select">
            <option value="" selected disabled>Class</option>
            <% divisions.forEach(function(division) { %>
              <option value="<%- division.name %>"><%- division.name %></option>
            <% }) %>
          </select>
          <button type="submit" class="btn btn-inverted btn-primary"><div class="fa fa-search"></div></button>
        </form>
        <div class="content">
          <% if(search !== "") { %>
            <p>Searched for: <%- search %></p>
          <% } %>
          <% if(clubs.length > 0) { %>
            <h4>Clubs:</h4>
            <% clubs.forEach(function(club) { %>
              <div class="listItem">
                <div class="left">
                  <div class="fa fa-soccer-ball-o"></div>
                  <h3><%- club.name %></h3>
                </div>
                <div class="right">
                  <a href="/club/<%- club._id %>" class="fa fa-angle-right right-aligned"></a>
                </div>
              </div>
            <% }) %>
          <% } %>
          <% if(teams.length != 0) { %>
            <h4>Teams:</h4>
            <% teams.forEach(function(team) { %>
              <div class="listItem">
                <div class="left">
                  <div class="fa fa-soccer-ball-o"></div>
                  <h3><%- team.name %></h3>
                </div>
                <div class="right">
                  <a href="/team/<%- team._id %>" class="fa fa-plus-square-o right-aligned"></a>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div>
      <% } else { %>
      <!-- show events -->

      <% } %>
    </container>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</hmtl>
