<!DOCTYPE html>
<hmtl>
  <head>
    <title>ONTHEBENCH</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>

  </head>
  <body>

    <%- include partials/nav.ejs %>

    <container>
      <% if (team._captainId.toString() === profile._id.toString()) { %>
        <div class="right">
          <form class="form-event-delete" method="post" action="/event/<%- event._id %>/delete">
            <button type="submit" class="fa fa-trash btn btn-basic btn-delete" />
            <input type="hidden" name="eventId" value="<%- event._id %>">
          </form>
        </div>
      <% } %>
      <form method="post" class="form form-event" action="/event/<%- event._id %>/edit">
        <h2 class="form-heading form-team-heading">
          Edit event
        </h2>
        <% if (message) { %>
          <p class="error"><%= message.text %></p>
        <% } %>

        <div class="row">
          <!-- type -->
          <div class="col-xs-5 form-group">
            <label for="inputType" class="sr-only">Event type</label>
            <select class="form-control" id="inputType" name="type" required>
              <option value="training" <%- event.type === 'training' ? 'selected' : '' %>>Training</option>
              <option value="match" <%- event.type === 'match' ? 'selected' : '' %>>Match</option>
              <option value="other" <%- event.type === 'other' ? 'selected' : '' %>>Other</option>
            </select>
          </div>

          <!-- name -->
          <div class="col-xs-7 form-group">
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" name="name" class="form-control" placeholder="Event name" value="<%- event.name %>" required />
          </div>
        </div>

        <div class="row">
          <!-- location -->
          <div class="col-xs-12 form-group">
            <label for="inputLocation" class="sr-only">Location</label>
            <input type="text" id="inputLocation" name="location" class="form-control" placeholder="Location" value="<%- event.location %>" required >
          </div>

          <!-- date -->
          <div class='col-xs-12'>
            <div class="form-group">
              <div class='input-group date' id='inputDate'>
                <input type='text' class="form-control" id="inputDate" name="date" placeholder="DD/MM/YYYY H:MM" required />
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- submit -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update team</button>
      </form>

    </container>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/moment-with-locales.min.js"></script>
    <script src="../../js/bootstrap-datetimepicker.js"></script>
    <script src="../../js/plugins.js"></script>
  </body>
</hmtl>
