<!DOCTYPE html>
<hmtl>
  <head>
    <title>ONTHEBENCH</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>

  </head>
  <body>

    <%- include partials/nav.ejs %>

    <container>
      <form method="post" class="form form-team">
        <h2 class="form-heading form-team-heading">
          New team
        </h2>
        <% if (message) { %>
          <p class="error"><%= message.text %></p>
        <% } %>

        <div class="row">
          <!-- club -->
          <div class="col-xs-7 form-group">
            <label for="inputClub" class="sr-only">Club</label>
            <select class="form-control" id="inputClub" name="club" required>
              <option value="<%- club.name %>" selected><%- club.name %></option>
            </select>

          </div>

          <!-- team number -->
          <div class="col-xs-5 form-group">
            <label for="inputTeamnr" class="sr-only">Team number</label>
            <input type="text" id="inputTeamnr" name="teamnr" class="form-control" placeholder="Team number" required />
          </div>
        </div>

        <div class="row">
          <!-- match day -->
          <div class="col-xs-7 form-group">
            <label for="inputMatchday" class="sr-only">Match day</label>
            <select id="inputMatchday" name="matchday" class="form-control" required >
              <option value="" selected disabled>Match day</option>
              <option value="saturday">Saturday</option>
              <option value="sunday">Sunday</option>
            </select>
          </div>
          <!-- class -->
          <div class="col-xs-5 form-group">
            <label for="inputClass" class="sr-only">Class</label>
            <select id="inputClass" name="class" class="form-control" required>
              <option value="" selected disabled>Class</option>
              <% divisions.forEach(function(division) { %>
                <option value="<%- division.name %>"><%- division.name %></option>
              <% }) %>
            </select>
          </div>
        </div>

        <!-- submit -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create team</button>
      </form>
    </container>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</hmtl>
